<template>
  <v-app id="app">
    <app-nav></app-nav>
    <main>
      <v-content class="ma-4">
        <router-view></router-view>
      </v-content>
    </main>
  </v-app>
</template>

<script lang="ts">
  import Vue from "vue";
  import Nav from '@/components/Nav.vue';

  export default Vue.extend({
    components: {
      'app-nav': Nav,
    },
  });
</script>

<style>

</style>
