<template>
  <v-container fluid>
    <v-row row>
      <v-col xs12>
        <div class="title">To-Watch List</div>
        <v-row row>
          <v-col xs12>
            <app-search-bar></app-search-bar>
          </v-col>
        </v-row>
        <v-row>
          <v-col xs12>
            <app-movie-grid></app-movie-grid>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
  import Vue from 'vue';
  import SearchBar from '@/components/SearchBar.vue';
  import MovieGrid from '@/components/MovieGrid.vue';

  export default Vue.extend({
    data() {
      return {
        loading: true
      }
    },

    components: {
      'app-search-bar': SearchBar,
      'app-movie-grid': MovieGrid,
    }
  });
</script>
