<template>
  <draggable v-model="movies">
    <transition-group name="app-movie-card">
      <app-movie-card
        v-for="movie in movies"
        class="app-movie-card"
        :title="movie.title"
        :key="movie.id" />
    </transition-group>
  </draggable>
</template>

<script lang="ts">
  import Vue from "vue";
  import Draggable from 'vuedraggable';
  import MovieCard from '@/components/MovieCard';

  const movies = [
    { id: 1, title: 'Gifted'},
    { id: 2, title: 'War for Planet of the Apes'},
    { id: 3, title: 'The Dark Knight'},
    { id: 4, title: 'The Sound of Music'},
    { id: 5, title: 'Keith'},
    { id: 6, title: 'Alien'},
    { id: 7, title: 'The Matrix'},
    { id: 8, title: 'The Matrix Reloaded'},
  ];

  export default Vue.extend({
    data() {
      return {
        movies
      };
    },
    components: {
      'app-movie-card': MovieCard,
      Draggable
    }
  });
</script>

<style scoped>
  .app-movie-card {
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 1s;
  }

  .app-movie-card-enter, .app-movie-card-leave-active {
    opacity: 0;
  }
</style>

