<template>
  <v-card>
    <v-card-text>
      <app-movie-card-actions></app-movie-card-actions>
    </v-card-text>
    <v-card-text>
      {{title}}
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
  import Vue from "vue";
  import CardActions from '@/components/ToWatchCardActions.vue';

  export default Vue.extend({
    props: ['title'],
    components: {
      'app-movie-card-actions': CardActions,
    },
  });
</script>
