<template>
  <v-toolbar>
    <v-toolbar-title>Movie Db</v-toolbar-title>
    <v-toolbar-items>
      <v-toolbar-item ripple>To Watch</v-toolbar-item>
      <v-toolbar-item ripple>Watched</v-toolbar-item>
    </v-toolbar-items>
  </v-toolbar>
</template>
