<template>
  <div>
    <v-btn small primary dark>Trailer</v-btn>
    <v-btn icon="icon" class="pink--text">
      <v-icon>check</v-icon>
    </v-btn>
    <v-btn icon="icon" class="blue--text">
      <v-icon>delete</v-icon>
    </v-btn>
  </div>
</template>
